<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title ng-bind-template="{{currentPage|| 'User Management System'}}"></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,400i" rel="stylesheet">
    <!-- build:css app.min.css -->
    <link href="app.css" rel="stylesheet" ng-if="! overrideDefaultStyle">
    <link ng-repeat="style in customStyles" ng-href="{{style}}" rel="stylesheet">


    <!-- endbuild -->
</head>
<body >
  <div ui-view="ng-admin" class="">
    <div id="wrapper" class="">
      <nav ng-include = "'components/navbar/template.html'" ng-if="authenticated"></nav>
      <div class="margin-top-20 relative"  ng-if="! authenticated" loader>
        <div class='loader' loaders></div>
      </div>
      <div ng-class = "! authenticated ? 'hidden' : ''"  ng-if="authenticated" id = "page-wrapper">
       <div ng-view></div>
     </div>
    </div>
  </div>
  <!-- build:js vendor.min.js -->

      <script src="vendor.min.js"></script>
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="components/angular-decorate/angular-decorate.js"></script>
      <script src="bower_components/tv4/tv4.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/objectpath/lib/ObjectPath.js"></script>
      <script src="bower_components/lodash/lodash.js"></script>
      <script src="bower_components/angular-route/angular-route.min.js"></script>
      <script src="bower_components/lodash/dist/lodash.min.js"></script>
      <script src="bower_components/humane-js/humane.min.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <!--endbuild-->
  <!-- build:js app.min.js -->
      <script src="app.js"></script>
      <script src="app/config/config.service.js"></script>
      <script src="app/user/user.js"></script>
      <script src="app/user/user.controller.js"></script>
      <script src="app/user/users.controller.js"></script>
      <script src="app/user/user.service.js"></script>
      <script src="app/user/new-user.controller.js"></script>
      <script src="app/user/user-decorator.service.js"></script>
      <script src="app/role/role.js"></script>
      <script src="app/role/view-role.controller.js"></script>
      <script src="app/role/role.controller.js"></script>
      <script src="app/role/role.filter.js"></script>
      <script src="app/role/role.service.js"></script>
      <script src="components/ng-simple-table/ng-simple-table.js"></script>
      <script src="components/ng-simple-pagination/ng-simple-pagination.js"></script>
      <script src="components/alert/alert.service.js"></script>
      <script src="components/navbar/navbar.controller.js"></script>
      <script src="components/utility/shared-values.js"></script>
      <script src="components/utility/loaders.js"></script>
      <script src="components/utility/util.js"></script>
      <script src="components/auth/auth.service.js"></script>
      <script src="components/auth/auth-shared.service.js"></script>
  <!--endbuild -->
</body>
</html>
